/*
-- JOSEFIN SLAB --
a serif google font font
older browser support included (more files needed)
*/
/* josefin-slab-regular - latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-slab-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Josefin Slab'), local('JosefinSlab'),
       url('../fonts/josefin-slab-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-slab-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-slab-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-slab-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-slab-v6-latin-regular.svg#JosefinSlab') format('svg'); /* Legacy iOS */
}
/* josefin-slab-700 - latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/josefin-slab-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'),
       url('../fonts/josefin-slab-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-slab-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-slab-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-slab-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-slab-v6-latin-700.svg#JosefinSlab') format('svg'); /* Legacy iOS */
}
/*
-- JOSEFIN SANS --
a sans serif google font font
*/
/* josefin-sans-100 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Sans Thin'), local('JosefinSans-Thin'),
       url('../fonts/josefin-sans-v9-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/josefin-sans-v9-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'),
       url('../fonts/josefin-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/josefin-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Sans Italic'), local('JosefinSans-Italic'),
       url('../fonts/josefin-sans-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/josefin-sans-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
       url('../fonts/josefin-sans-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/josefin-sans-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}